bank/.idea/
bank/.env
bank/target/
bank/.mvn

### IDEs ###
bank/.apt_generated
bank/.classpath
bank/.factorypath
bank/.project
bank/.settings/
bank/.springBeans
bank/.sts4-cache

bank/*.iws
bank/*.iml
bank/*.ipr

### NetBeans ###
bank/nbproject/private/
bank/nbbuild/
bank/dist/
bank/nbdist/
bank/.nb-gradle/
bank/build/

### VS Code ###
bank/.vscode/

### Exceções: não ignore target/build dentro de src/main e src/test ###
!bank/src/main/**/target/
!bank/src/test/**/target/
!bank/src/main/**/build/
!bank/src/test/**/build/